$primary: #6a3de8; //Buttons, brand, active states
$secondary: #93827c; // Hover, badges, highlights
$background: #d5c5ab; // Body background, cards
$accent: #000000; // Headings, borders, icons
// -------------------------
// Font Face Declarations
// -------------------------

@font-face {
  font-family: "LexendZetta";
  src: url("../assets/fonts/LexendZetta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MooLahLah";
  src: url("../assets/fonts/MooLahLah-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KaushanScript";
  src: url("../assets/fonts/KaushanScript-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LiuJianMaoCao";
  src: url("../assets/fonts/LiuJianMaoCao-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LibreBarcode39Text";
  src: url("../assets/fonts/LibreBarcode39Text-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$primary_font: "LexendZetta";
$secondary_font: "KaushanScript";
$accent_font: "LiuJianMaoCao";
$logo_font: "LibreBarcode39Text";
$ex: "MooLahLah";
