@use "variables" as *;
img {
  pointer-events: none !important;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  user-select: none;
  height: 100vh;
  color: $accent;
  background: $background;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background: transparent;
    position: absolute;
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(40deg, gray, transparent 70%);
    border-radius: 100px;
  }
  .container {
    margin: 0;
    header {
      transition: all 0.5s ease-in-out;
      height: auto;
      opacity: 1;
      position: fixed;
      z-index: 10000;
      top: 0px;

      &.active {
        opacity: 0;
        transition: all 0.5s;
        position: fixed;
        top: -10%;
        height: 0;
      }
      &.deactive {
        transition: all 0.5s ease-in-out;
        height: auto;
        opacity: 1;
        position: fixed;
        z-index: 10000;
        top: 0px;
        background: rgba(255, 0, 0, 0.001);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }
      font-family: $primary_font;
      display: flex;
      // padding-inline: 10px;
      // padding-block: 10px;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      width: 100%;
      .logo {
        display: flex;
        padding-inline: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: $logo_font;
        font-size: 30px;
        color: $accent;
        img {
          width: 70px;
          margin: 5px;
        }
      }
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        svg {
          cursor: pointer;
          padding-inline: 10px;
        }
        a {
          text-decoration: none;
          color: $accent;
          border: none;
          border-bottom: 8px solid transparent; /* Only bottom border visible */
          &:hover,
          &:active {
            border-image-source: url("../assets/svg/border.svg");
            border-image-slice: 0 0 100% 0; /* Top Right Bottom Left slicing */
            border-image-repeat: stretch; /* or round for patterns */
          }
        }
      }
    }
    .hero-section {
      position: relative;
      margin: 40px;
      .greeting {
        span {
          font-family: $accent_font;
          font-size: 64px;
          color: $accent;
        }
        .brand_name {
          font-family: $secondary_font;
          font-size: clamp(70px, 10vw, 128px);
          color: $primary;
        }
        .pre {
          font-family: $accent_font;
          width: 60%;
        }
        .btns {
          display: flex;
          align-items: center;
          gap: 100px;
          .Hire_Me {
            font-family: $primary_font;
            text-decoration: none;
            color: $accent;
            position: relative;
            text-align: center;
            &:hover .sp {
              border-radius: 50px;
              transform: rotate(0deg);
              outline: 4px solid $accent;
              outline-offset: 5px;
              box-shadow: 2px 2px 0px rgb(104, 104, 104),
                inset 2px 2px 0px rgb(255, 255, 255);
            }

            .sp {
              position: absolute;
              background: $secondary;
              width: 203px;
              height: 65px;
              z-index: -1;
              transform: rotate(11deg);
              transition: all 0.5s;
            }
            .pm {
              width: 203px;

              height: 65px;
              display: flex;
              border-radius: 50px;
              justify-content: center;
              align-items: center;
              z-index: 1;
            }
          }
          .see_projects {
            font-family: $primary_font;
            text-decoration: none;
            color: $accent;
            position: relative;
            text-align: center;
            transition: all 0.5s;
            &:hover .sp {
              transition: all 0.5s;
              clip-path: polygon(
                0 35%,
                64% 47%,
                60% 0%,
                100% 50%,
                60% 100%,
                64% 56%,
                0 65%
              );
            }
            .sp {
              transition: all 0.5s !important;
              outline: 4px solid $accent;
              outline-offset: 3px;
              width: 167.5px;
              height: 79.5px;
              position: absolute;
              clip-path: polygon(
                26% 34%,
                69% 59%,
                100% 0,
                99% 0,
                77% 88%,
                38% 72%,
                0 100%
              );
              background: $primary;
              z-index: -1;
            }
            .pm {
              white-space: nowrap;
              width: 211px;
              height: 79px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
      .hero-banner {
        position: absolute;
        top: 0%;
        right: 4%;
        z-index: -1;
        transform: rotate(-11deg);
        img {
          width: 500px;
          height: 500px;
        }
      }
    }
    .about-section {
      font-family: $accent_font;
      font-size: 64px;
      color: $accent;
      position: relative;

      .img,
      .pm {
        position: absolute;
        left: 0;
        top: 8%;
        transform: translate(10%, -50%);
      }
      .object {
        position: absolute;
        right: -50%;
        top: -10%;
        z-index: -1;
        filter: grayscale(100) opacity(0.1);
        animation: rotaing 15s linear infinite;
      }
      @keyframes rotaing {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .name {
        padding-top: 200px;
        font-family: $secondary_font;
        color: $primary;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          text-transform: capitalize;
        }
      }
      .divs {
        padding: 30px;
        .div1 {
          display: flex;
          justify-content: space-between;
          font-size: medium;
          .info {
            padding: 30px;
            width: 40%;
            h2 {
              font-family: $secondary_font;
              font-size: 40px;
            }
            p {
              line-height: 1.6;
            }
          }
          img {
            transform: rotate(-5deg);
            width: 500px;
            height: 400px;
            object-fit: cover;
          }
        }
        @media screen and (max-width: 700px) {
          .div1 {
            display: block;
            .info {
              width: 100%;
            }
          }
        }
      }
    }
    .featured_projects {
      .title {
        font-family: $accent_font;
        color: $accent;
        position: relative;
        font-size: 64px;
        .sp {
          position: absolute;
          top: -20px;
          left: 20px;
          img {
            width: 110%;
            filter: grayscale(100);
          }
        }
      }
      .gallary {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 40px;
        margin: 10px;
        .item {
          position: relative;
          border-radius: 10px;
          .overflow {
            position: absolute;
            left: 0;
            border-radius: 10px;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 0, 0, 0.027);
            display: flex;
            justify-content: center;
            backdrop-filter: blur(100px);
            align-items: center;
            opacity: 0;
            transition: all 0.5s;
            button {
              border: none;
              background: $secondary;
              padding: 20px 40px;
              border-radius: 10px;
              box-shadow: 10px 10px 10px $accent;
              font-family: $primary_font;
              cursor: pointer;
            }
            &:hover {
              opacity: 1;
            }
          }
          img {
            height: 400px;
            object-fit: cover;
            box-shadow: 10px 10px 1px rgba(128, 128, 128, 0.247);
          }
        }
      }
    }
    .contact {
      .title {
        font-family: $accent_font;
        font-size: 64px;
        position: relative;
        left: 10px;
        color: $accent;
        .sp {
          position: absolute;
          top: 0;
        }
      }
      .divs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media screen and (max-width: 700px) {
          & {
            display: block;
            padding-inline: 40px;
          }
        }
        .div1 {
          width: 500px;
          .icons {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          h2 {
            font-family: $secondary_font;
          }
          font-family: $accent_font;
        }
        .div2 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .see_projects {
            font-family: $primary_font;
            text-decoration: none;
            position: relative;
            color: black;
            text-align: center;
            transition: all 0.5s;
            &:hover .sp {
              transition: all 0.5s;
              clip-path: polygon(
                0 35%,
                64% 47%,
                60% 0%,
                100% 50%,
                60% 100%,
                64% 56%,
                0 65%
              );
            }
            .sp {
              transition: all 0.5s !important;
              outline: 4px solid $accent;
              outline-offset: 3px;
              width: 167.5px;
              height: 79.5px;
              position: absolute;
              clip-path: polygon(
                26% 34%,
                69% 59%,
                100% 0,
                99% 0,
                77% 88%,
                38% 72%,
                0 100%
              );
              background: $primary;
              z-index: -1;
            }
            .pm {
              white-space: nowrap;
              width: 211px;
              height: 79px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          label {
            font-family: $secondary_font;
            font-size: 30px;
          }
          label input,
          textarea {
            border: none;
            width: 300px;
            resize: vertical;
            padding-block: 20px;
            padding-inline: 30px;
            border-radius: 10px;
            background: $secondary;
            color: $accent;
            &::placeholder {
              color: $accent;
            }
          }
        }
      }
    }
    footer {
      .footer {
        position: absolute;
        bottom: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 500px;
        p {
          font-family: $accent_font;
        }
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          font-family: $logo_font;
          font-size: 30px;
          color: $accent;
          padding-inline: 40px;
          img {
            width: 70px;
          }
        }
      }
      position: relative;
      width: 100vw;
      height: 400px;
      .img {
        width: 100%;
        z-index: -1;

        img {
          position: absolute;
          bottom: 0;
          z-index: -1;
          right: 0;
          width: 400px;
        }
        top: 1;
        top: -10%;
        img:first-child {
          float: right;
          width: 100%;
          position: absolute;
          bottom: 0;
          z-index: 1;
        }
      }
      .by {
        z-index: 10;
        position: relative;
        width: 100vw;
        .links {
          position: relative;
          a {
            text-decoration: none;
            color: $accent;
            font-family: $primary_font;
          }
          a:nth-child(4) {
            position: absolute;
            top: 30px;
            left: 50%;
          }
          a:nth-child(3) {
            position: absolute;
            top: 50px;
            left: 30%;
          }
          a:nth-child(2) {
            position: absolute;
            top: 100px;
            left: 40%;
          }
          a:nth-child(1) {
            position: absolute;
            top: 60px;
            left: 20%;
          }
        }
        h2 {
          font-family: $accent_font;
          padding: 10px;
          font-size: 70px;
        }
        p {
          font-family: $accent_font;
          width: 400px;
          padding-inline: 40px;
        }
      }
    }
  }
  .loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $secondary;
    top: 0;
    left: 0;
    transition: all 0.8s;
    overflow: hidden;
    z-index: 999900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $secondary_font;
    font-size: 64px;
    span {
      position: absolute;
      transition: all 0.5s;
    }
  }
  .popup {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $secondary;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.685);
    opacity: 0;
    display: none;
    transition: all 0.5s;
    #msg {
      font-family: $accent_font;
      font-size: 40px;
    }
  }
  .settings {
    z-index: 100000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    display: none;
    .data {
      width: 400px;
      background: transparent;
      backdrop-filter: blur(10px);
      padding: 50px;
      border-radius: 10px;
      border: 1px solid $secondary;
      box-shadow: 10px 10px 10px rgba(34, 33, 33, 0.274);
      span {
        font-family: $secondary_font;
        width: 100%;
        text-align: center;
      }
      .stg {
        display: flex;
        flex-direction: column;
        font-family: $primary_font;
        input {
          accent-color: $secondary;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    nav {
      background: red;
      display: none !important;
    }
    .menu {
      display: block !important;
      padding-inline: 10px;
      cursor: pointer;
    }
  }
  .hero-section {
    position: static !important;
    text-align: center;
    .greeting {
      padding: 0 !important;
      margin: 0 !important;
      .brand_name {
        font-size: 4rem !important;
      }
      .pre {
        text-align-last: left;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        margin-block: 15px !important;
      }
      .btns {
        display: block !important;
        margin-top: 50px !important;
        .Hire_Me {
          font-family: $primary_font;
          text-decoration: none;
          color: $accent;
          position: relative;
          text-align: center;
          width: 100% !important;
          .sp {
            display: none !important;
          }
          .pm {
            width: 100% !important ;
            height: 65px;
            display: flex;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            z-index: 1;
            background: $secondary;
            transform: rotate(-5deg);
          }
        }
        .see_projects {
          font-family: $primary_font;
          text-decoration: none;
          color: $accent;
          position: relative;
          text-align: center;
          margin-top: 40px !important;
          transition: all 0.5s;
         
          .sp {
          display: none;
          }
          .pm {
            white-space: nowrap;
            width: 100% !important;
            height: 79px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $primary;
            margin-top: 20px !important;
            transform: rotate(-5deg);
            border-radius: 50px ;
          }
        }
      }
    }
    .hero-banner {
      img {
        margin-top: 55px;
      }
    }
  }
  .about-section {
    margin: 0 !important;
    padding: 0 !important;
    .divs {
      padding: 0 !important;
      .div1 {
        display: block;
        .info {
          padding: 10px !important;
          width: 100% !important;
        }
      }
    }
    .title {
      position: absolute;
      margin: 0 !important;
      width: 100%;
      margin-block: 10% !important;
      display: none;
    }
    .name {
      margin: 0 !important;
      padding: 0 !important;
      span {
        font-size: 2rem;
        display: none;
      }
    }
  }
  .featured_projects{
    .title{
      margin-top: 100px;
      .sp{
        font-size: 3rem;
      }
      img{
        width: 90%;
        height: 100px;
        margin-top: 15px;
      }
    }
  }
  .contact{
    .title{
      .sp{
        img{
          width: 70%;
          margin-top: 30px;
        }
      }
    }
    .divs{
      .div1{
        padding: 0 !important;
        width: 100% !important;
        margin-top: 60px;
        text-align: center;
        margin-block: 40px;
        h2{
          font-size: 3rem;
        }
      }
    }
  }
  footer{
    .footer{
      position: static;
      span{
        white-space: nowrap;
      }
      .img{
        .sd{
          height: 900px !important;
        }
      }
    }
  }
}
