:root {
  --bg-color: #fff;
  --color: #000;
  --btn-bg: #000;
  --btn-color: #fff;
  --bg-inp: #fff;
  --dark-text-color: #333;
  --color-light: #222;
  --img: #fff;
}

[data-theme="dark"] {
  --bg-color: #222;
  --color: white;
  --btn-bg: white;
  --btn-color: #000;
  --dark-text-color: #999;
  --color-light: #c4c4c4;
  --bg-inp: #444;
  --img: #fff;
}
[data-theme="light"] {
  --bg-color: #fff;
  --color: #000;
  --btn-bg: #000;
  --btn-color: #fff;
  --bg-inp: #fff;
  --dark-text-color: #333;
  --color-light: #222;
  --img: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --color: white;
    --btn-bg: white;
    --btn-color: #000;
    --dark-text-color: #999;
    --color-light: #c4c4c4;
    --bg-inp: #444;
    --img: #fff;
  }
  body {
    margin: 0;
    background-color: var(--bg-color) !important;
    color: var(--color) !important;
    /* transition: all 0.5s ease-in-out !important; */
    cursor: url("https://images.vexels.com/media/users/3/131771/isolated/preview/052dd0c023d9db3d5244875791c71c54-pixilated-arrow-cursor.png"),
      auto;
  }
}

html,
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--color);
  transition: all 0.5s ease-in-out !important;
  cursor: url("https://images.vexels.com/media/users/3/131771/isolated/preview/052dd0c023d9db3d5244875791c71c54-pixilated-arrow-cursor.png"),
    auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif !important;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 1s !important;
}

nav {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 1000;
  transition: all 0.3s ease;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  background: #00000000;
  backdrop-filter: blur(10px);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px !important;
  user-select: none;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--color);
  font-size: small;
  font-weight: bolder;
  transition: color 0.3s;

  &:hover {
    border-bottom: 1px dotted #000;
  }
}

nav a.activ {
  border-bottom: 1px dotted #000;
}

nav a:hover {
  color: rgb(0, 0, 0);
}
nav svg {
  width: 18px;
}

.span1 {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 900px) {
  #logo {
    display: none !important;
  }

  header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  nav {
    position: fixed;
    width: 0%;
    overflow: scroll;
    opacity: 0;
    display: flex;
    left: 0;
    align-items: center;
    flex-direction: column;
    height: 0;
    background: #ffffff13;
    color: white !important;
    z-index: 9;
    font-size: larger;
    backdrop-filter: blur(10px);
  }

  nav.active {
    /* display: block; */
    width: 70vw !important;
    height: 100vh !important;
    opacity: 1 !important;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .span1 {
    display: block;
    z-index: 9999;
  }
}

::-webkit-scrollbar {
  width: 3px !important;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, transparent, rgb(0, 0, 0));
  border-radius: 100px;
  width: 3px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translateY(20px); */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#installBtn {
  padding: 12px 16px;
  background-color: #0a0a0a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s linear;

  &:hover {
    background: #0000009a;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(30px);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #aaa;
  border-top: 5px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.share-btn,
#theme,
#fullscreen {
  border: none;
  background: none;
  svg {
    stroke: var(--color);
  }
}

[role="button"] {
  cursor: pointer;
}
