body{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    margin: 0;
display: flex;
justify-content: center;align-items: center;
row-gap: 10px;
}
button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#pass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}