#drop-area {
  border: 2px dashed #999;
  /* padding: 30px; */
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}
#drop-area.highlight {
  border-color: blue;
  background-color: #f0f8ff;
}
body{
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}