body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background: #f0f0f0;
}

.container {
  text-align: center;
}

#timerDisplay {
  font-size: 48px;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}
::-webkit-scrollbar{
      display: none;
    }