body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  user-select: none;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 400px;
}

img {
  border-radius: 10px;
  margin-bottom: 20px;
  aspect-ratio: 9/6;
}

button {
  border: none;
  background: lightblue;
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background-color: deepskyblue;
}

input[type="range"] {
  width: 100%;
  height: 8px;
  background: transparent;
  margin: 15px 0;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #002fff6e;
  height: 8px;
  border-radius: 100px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
  border: 2px solid #6467ff;
  transition: transform 0.2s;
}

input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}
