body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #f0f0f0; */
    /* color: #333; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

p {
    font-size: 1.8em;
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}::-webkit-scrollbar{
      display: none;
    }