body {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* padding-top: 100px; */
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  outline: none;
  padding: 10px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #f7f6f6;
}
button {
  outline: none;
  padding: 10px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #f7f6f6;
  cursor: pointer;
}
.delete-btn {
  color: #f50000;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
ul {
  list-style: circle;
  color: #000;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 500px;
  height: 50vh;
  overflow-y: auto;
  border-radius: 5px;
  border-bottom: 1px solid  gray;
  padding-top: 10px;
}
